.card {
    position: relative;
    background-color: bisque !important;
    margin-top: 5%;
    margin-bottom: 15%;
    margin-left: 14%;
    max-width: 70%;
}

.cardBody {
    margin-top: 2%;
    text-align: right;
}

.textTitle {
    text-align: center;
    font-size: xx-large;
}

.text {
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}

.mainText {
    text-align: center;
    color: white;
    padding-top: 2%;
}

.button {
    min-width: 150px;
}

.buttonGroup {
    padding-top: 5%;
    padding-bottom: 1%;
}