.card {
    background-color: bisque!important;
    margin-top: 5%;
    margin-bottom: 15%;
    margin-left: 22%;
    max-width: 70%;
}

.buttonGroup {
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 5px;
}

/* .divider {
    margin-left: 10%;
    height: auto;
    display: inline-block;
} */