.card {
    background-color: bisque!important;
    margin-top: 5%;
    margin-bottom: 15%;
    margin-left: 22%;
    max-width: 70%;
}

.buttonGroup {
    margin: 0 auto;
    padding-bottom: 5px;
}

.titleText {
    text-align: center;
}

.footer {
    text-align: right;
    size: 5cm;
}

.text-muted {
    size: 20px;
}

.recipeDescr {
    text-align: center;
}