.form {
    text-align: center;
    max-width: 20em;
    margin: auto;
    padding-top: 2%;
    margin-bottom: 3%;
    width: 25rem;
}

.card {
    width: 25rem;
    margin: auto;
    float: none;
    margin-top: 3%;
    background-color: blanchedalmond !important;
}

input[type='title']::placeholder {
    text-align: center;
}

input[type='category']::placeholder {
    text-align: center;
}

input[type='description']::placeholder {
    text-align: center;
}

input[type='ingredients']::placeholder {
    text-align: center;
}

input[type='instructions']::placeholder {
    text-align: center;
}

input[type='imageUrl']::placeholder {
    text-align: center;
}