.card {
    width: 20rem;
    margin: 0 auto;
    float: none;
    margin-top: 12%;
    background-color: blanchedalmond!important;
}

.form {
    text-align: center;
    max-width: 20em;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 4%;
}

.text {
    padding-top: 15px;
}